body {
  margin: 0;
  background: #ffffff;
  overflow-x: hidden;
}

.main-wrapper {
  width: 1440px;
  margin: 0 auto !important;
  padding: 12px 0 40px;
  box-sizing: border-box;
}

.header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 12px;
  margin: 0 82px;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding: 8px 20px;
  cursor: pointer;
  text-decoration: none;
}

.nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 8px;
  margin: 0;
  padding: 0;
}

.nav-li {
  cursor: pointer;
}

.nav-link {
  position: relative;
  text-decoration: none;
  padding: 12px 20px;
  color: #181c29;
}

.background-wrapper {
  background: url(../assets/images/bg-snow.png), #ff4646 100% / cover repeat;
  background-size: 100% auto;
  border-radius: 20px 20px 0 0;
  padding-bottom: 60px;
}

.hero-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 120px 0;
  border-radius: 20px 20px 0 0;
  background: url(../assets/images/bg-ball.png) 100% / cover;
  background-size: 100% 115%;
}

.hero-title {
  margin: 0;
}

.hero-link-gifts {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 235px;
  height: 56px;
  background: #181c29;
  text-decoration: none;
}

.hero-link-text {
  color: #ffffff;
}

.about-wrapper {
  display: flex;
  flex-direction: row;
  background: #ffffff;
  border-radius: 20px;
  margin: 60px 82px 0;
}

.about-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 160px 152px 160px 60px;
}
