body {
  margin: 0;
  background: #ffffff;
  overflow-x: hidden;
}

.main-wrapper {
  width: 1440px;
  margin: 0 auto !important;
  padding: 12px 0 40px;
  box-sizing: border-box;
}

.header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 12px;
  margin: 0 82px;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding: 8px 20px;
  cursor: pointer;
  text-decoration: none;
}

.nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 8px;
  margin: 0;
  padding: 0;
}

.nav-li {
  cursor: pointer;
}

.nav-link {
  position: relative;
  text-decoration: none;
  padding: 12px 20px;
  color: #181c29;
}

.background-wrapper {
  width: 100%;
  background: url(../assets/images/bg-snow.png), #ff4646 100% / cover repeat;
  background-size: 100% auto;
  border-radius: 20px 20px 0 0;
  padding-bottom: 60px;
  box-sizing: border-box;
}

.hero-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 120px 0;
  border-radius: 20px 20px 0 0;
  background: url(../assets/images/bg-ball.png) 100% / cover;
  background-size: 100% 115%;
}

.hero-title {
  margin: 0;
}

.hero-link-gifts {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 235px;
  height: 56px;
  background: #181c29;
  text-decoration: none;
}

.hero-link-text {
  color: #ffffff;
}

.about-wrapper {
  display: flex;
  flex-direction: row;
  background: #ffffff;
  border-radius: 20px;
  margin: 60px 82px 0;
}

.about-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 160px 152px 160px 60px;
}

.slider-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 82px 0;
  gap: 20px;
  box-sizing: border-box;
  overflow: hidden;
}

.slider-text {
  color: #ffffff !important;
  margin-top: -8px;
}

.slider-images {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.slider-image {
  border-radius: 20px;
  width: 200px;
  height: 200px;
}

.slider-buttons {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  gap: 20px;
}

.slider-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  cursor: pointer;
  background: 0;
}

.slider-arrow-active {
  border: 1px solid #ffffff;
}

.slider-arrow-left {
  width: 24px;
  height: 24px;
  background: url(../assets/icons/arrow-left.svg) center center no-repeat;
}

.slider-arrow-right {
  width: 24px;
  height: 24px;
  background: url(../assets/icons/arrow-right.svg) center center no-repeat;
}

.best-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 120px;
}

.best-text {
  color: #ffffff !important;
  margin-top: -8px;
}

.best-container {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.best-block {
  width: 310px;
  height: 342px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: start;
  background: #ffffff;
  border-radius: 20px;
  overflow: hidden;
}

.best-image {
  width: 310px;
  height: 230px;
  border-radius: 20px;
}

.best-block-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 20px;
}

.best-blue {
  color: #4361ff !important;
}

.best-green {
  color: #06a44f !important;
}

.best-pink {
  color: #ff43f7 !important;
}
